@model WebsiteBanHang.Models.NhaSanXuat
@{
    ViewBag.Title = "Quản lý nhà sản xuất";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<<h4>@Html.ActionLink("Quản lý nhà SX", "Index") > Xóa</h4>
<div class="card shadow">
    <div class="card-body">
        <h4 class="card-title">Thông tin nhà sản xuất</h4>
        <hr />
        <div class="row ">
            <label class="col-sm-2 col-form-label font-weight-bold">@Html.DisplayNameFor(model => model.MaNSX)</label>
            <div class="col-sm-6 col-form-label">@Html.DisplayFor(model => model.MaNSX)</div>
        </div>
        <div class="row ">
            <label class="col-sm-2 col-form-label font-weight-bold">@Html.DisplayNameFor(model => model.TenNSX)</label>
            <div class="col-sm-6 col-form-label">@Html.DisplayFor(model => model.TenNSX)</div>
        </div>
        <div class="row ">
            <label class="col-sm-2 col-form-label font-weight-bold">@Html.DisplayNameFor(model => model.ThongTin)</label>
            <div class="col-sm-6 col-form-label">@Html.DisplayFor(model => model.ThongTin)</div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Xóa" class="btn btn-sm btn-primary font-weight-bold w-25" />
                    @Html.ActionLink("Trở về", "Index", null, htmlAttributes: new { @class = "btn btn-sm btn-secondary font-weight-bold w-25" })
                }
            </div>
        </div>

    </div>
</div>

