@model WebsiteBanHang.Models.ThanhVien
@{
    ViewBag.Title = "Quản lý thành viên";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h4>@Html.ActionLink("Quản lý thành viên", "Index") > Xóa</h4>
<div class="card shadow">
    <div class="card-body">
        <h4 class="card-title">Thông tin thành viên</h4>
        <div class="row ">
            <label class="col-sm-2 col-form-label font-weight-bold">@Html.DisplayNameFor(model => model.MaThanhVien)</label>
            <div class="col-sm-6 col-form-label">@Html.DisplayFor(model => model.MaThanhVien)</div>
        </div>
        <div class="row ">
            <label class="col-sm-2 col-form-label font-weight-bold">@Html.DisplayNameFor(model => model.TaiKhoan)</label>
            <div class="col-sm-6 col-form-label">@Html.DisplayFor(model => model.TaiKhoan)</div>
        </div>
        <div class="row ">
            <label class="col-sm-2 col-form-label font-weight-bold">@Html.DisplayNameFor(model => model.MatKhau)</label>
            <div class="col-sm-6 col-form-label">@Html.DisplayFor(model => model.MatKhau)</div>
        </div>
        <div class="row ">
            <label class="col-sm-2 col-form-label font-weight-bold">@Html.DisplayNameFor(model => model.HoTen)</label>
            <div class="col-sm-6 col-form-label">@Html.DisplayFor(model => model.HoTen)</div>
        </div>
        <div class="row ">
            <label class="col-sm-2 col-form-label font-weight-bold">@Html.DisplayNameFor(model => model.DiaChi)</label>
            <div class="col-sm-6 col-form-label">@Html.DisplayFor(model => model.DiaChi)</div>
        </div>
        <div class="row ">
            <label class="col-sm-2 col-form-label font-weight-bold">@Html.DisplayNameFor(model => model.Email)</label>
            <div class="col-sm-6 col-form-label">@Html.DisplayFor(model => model.Email)</div>
        </div>
        <div class="row ">
            <label class="col-sm-2 col-form-label font-weight-bold">@Html.DisplayNameFor(model => model.SoDienThoai)</label>
            <div class="col-sm-6 col-form-label">@Html.DisplayFor(model => model.SoDienThoai)</div>
        </div>
        <div class="row ">
            <label class="col-sm-2 col-form-label font-weight-bold">@Html.DisplayNameFor(model => model.CauHoi)</label>
            <div class="col-sm-6 col-form-label">@Html.DisplayFor(model => model.CauHoi)</div>
        </div>
        <div class="row ">
            <label class="col-sm-2 col-form-label font-weight-bold">@Html.DisplayNameFor(model => model.CauTraLoi)</label>
            <div class="col-sm-6 col-form-label">@Html.DisplayFor(model => model.HoTen)</div>
        </div>
        <div class="row ">
            <label class="col-sm-2 col-form-label font-weight-bold">@Html.DisplayNameFor(model => model.MaLoaiTV)</label>
            <div class="col-sm-6 col-form-label">@Html.DisplayFor(model => model.MaLoaiTV)</div>
        </div>

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Xóa" class="btn btn-sm btn-primary font-weight-bold w-25" />
                    @Html.ActionLink("Trở về", "Index", null, htmlAttributes: new { @class = "btn btn-sm btn-secondary font-weight-bold w-25" })
                }
            </div>
        </div>
    </div>
</div>

